In [1]:
import numpy as np
import pandas as pd
import os
import hashlib
  
# Get the path of current working directory
path = os.getcwd()

In [2]:
topic1_scores = pd.read_csv(path + '\\data\\topic_1_final_scores.csv')
topic1_all = pd.read_csv(path + '\\data\\topic_1_all.csv')
summary = pd.read_csv(path + '\\data\\all_activities.csv')

In [ ]:
# summary['studentID_encoded'] = [hashlib.sha256(str(val).encode('UTF-8')).hexdigest() for val in summary['Student ID']]
# topic1_all['studentID_encoded'] = [hashlib.sha256(str(val).encode('UTF-8')).hexdigest() for val in topic1_all['Student ID']]
# topic1_scores['studentID_encoded'] = [hashlib.sha256(str(val).encode('UTF-8')).hexdigest() for val in topic1_scores['Student ID']]

In [3]:
from anonymizedf.anonymizedf import anonymize
an1 = anonymize(topic1_scores)
an2 = anonymize(topic1_all)
an3 = anonymize(summary)

an1.fake_names("First name")
an1.fake_ids("Student ID")

an2.fake_names("First name")
an2.fake_ids("Student ID")

an3.fake_names("First name")
an3.fake_ids("Student ID")

,Last name,First name,Primary email,School email,Student ID,Activity 1 (49),Activity 2 (28),Activity 3 (77),Activity 4 (32),Activity 5 (6),...,Activity 20 (47),Activity 21 (159),Activity 22 (99),Activity 23 (45),Activity 24 (51),Optional Activity 1 (21),Optional Activity 2 (78),Optional Activity 3 (58),Fake_First name,Fake_Student ID
0,Abdelrahim,Fatin,fabdel7@uic.edu,fabdel7@uic.edu,660956982,100.00,100.0,100.00,100.0,100,...,100.00,83.65,100.0,100.00,100.00,0.0,0.0,0.0,Bruce Carter-Williams,TGIB16940314202269
1,Abdullah,Mohammed,mlnu21@uic.edu,mlnu21@uic.edu,662305829,87.76,100.0,100.00,100.0,100,...,100.00,93.71,100.0,100.00,100.00,0.0,0.0,0.0,Sylvia Walsh-Wade,NBUW34262760284887
2,Abebe,Natnael,nabebe3@uic.edu,nabebe3@uic.edu,655021425,95.92,100.0,93.51,100.0,100,...,95.74,82.39,100.0,100.00,96.08,0.0,0.0,0.0,Glen Cook,WUCB46577786808849
3,agarwal,ishi,iagarw5@uic.edu,iagarw5@uic.edu,673172436,100.00,100.0,100.00,100.0,100,...,100.00,86.79,100.0,100.00,100.00,0.0,0.0,0.0,Victor Taylor,BENI75220984168574
4,Ahmed,Wasay,ahmedwasay1000@gmail.com,wahmed9@uic.edu,658638024,100.00,100.0,100.00,100.0,100,...,100.00,96.23,100.0,100.00,100.00,0.0,0.0,0.0,Gordon Smith,PGAU63638135423746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,Yuen,Tyler,tyuen8@uic.edu,tyuen8@uic.edu,657214150,100.00,100.0,100.00,100.0,100,...,100.00,97.48,100.0,0.00,100.00,0.0,0.0,0.0,Yvonne Richardson,KPXV62272489439866
201,Zabkowski,Tomasz,tzabko1@uic.edu,tzabko1@uic.edu,679836739,100.00,100.0,48.05,100.0,100,...,100.00,85.53,100.0,100.00,100.00,0.0,0.0,0.0,Marcus Smith-Wallace,NXZT30883970438678
202,Zhou,Michelle,mzhou43@uic.edu,mzhou43@uic.edu,650940474,100.00,100.0,100.00,100.0,100,...,100.00,88.68,100.0,13.33,100.00,0.0,0.0,0.0,Scott Allen-Wilson,XZAT54344972454084
203,zhu,zhiyi,zzhu56@uic.edu,zzhu56@uic.edu,663098748,100.00,100.0,100.00,100.0,100,...,100.00,83.65,100.0,100.00,98.04,0.0,0.0,0.0,Vanessa Manning-Marsh,ZKOS45616008076386
204,Zielinska,Wiktoria,wzieli2@uic.edu,wzieli2@uic.edu,675788560,100.00,100.0,100.00,100.0,100,...,100.00,94.97,100.0,100.00,100.00,0.0,0.0,0.0,Bernard Williams,XBZY39137226865796

In [8]:
topic1_scores.columns

Index(['Last name', 'First name', 'Primary email', 'School email',
       'Student ID', 'Due date', 'Percent grade', 'Points earned (out of 49)',
       'Participation total (43)', 'Challenge total (6)', 'Lab total (0)',
       '1.1 - Participation (9)', '1.2 - Participation (9)',
       '1.3 - Participation (9)', '1.4 - Participation (16)',
       '1.3 - Challenge (6)', 'Fake_First name', 'Fake_Student ID'],
      dtype='object')

In [9]:
summary = summary[['Activity 1 (49)', 'Activity 2 (28)', 'Activity 3 (77)',
       'Activity 4 (32)', 'Activity 5 (6)', 'Activity 6 (74)',
       'Activity 7 (175)', 'Activity 8 (125)', 'Activity 9 (27)',
       'Activity 10 (59)', 'Activity 11 (31)', 'Activity 12 (54)',
       'Activity 13 (75)', 'Activity 14 (63)', 'Activity 15 (24)',
       'Activity 16 (51)', 'Activity 17 (20)', 'Activity 18 (65)',
       'Activity 19 (44)', 'Activity 20 (47)', 'Activity 21 (159)',
       'Activity 22 (99)', 'Activity 23 (45)', 'Activity 24 (51)',
       'Optional Activity 1 (21)', 'Optional Activity 2 (78)',
       'Optional Activity 3 (58)', 'Fake_First name', 'Fake_Student ID']]

topic1_all = topic1_all[['Total (49)', 'Participation total (43)',
       'Challenge total (6)', 'Lab total (0)', '1.1 - Participation (9)',
       '1.2 - Participation (9)', '1.3 - Participation (9)',
       '1.4 - Participation (16)', '1.1 - Challenge (0)',
       '1.2 - Challenge (0)', '1.3 - Challenge (6)', '1.4 - Challenge (0)',
       '1.1 - Lab (0)', '1.2 - Lab (0)', '1.3 - Lab (0)', '1.4 - Lab (0)',
       'Total time (min)', 'Participation total time (min)',
       'Challenge total time (min)', 'Lab total time (min)',
       '1.1 - Participation time (min)', '1.2 - Participation time (min)',
       '1.3 - Participation time (min)', '1.4 - Participation time (min)',
       '1.1 - Challenge time (min)', '1.2 - Challenge time (min)',
       '1.3 - Challenge time (min)', '1.4 - Challenge time (min)',
       '1.1 - Lab time (min)', '1.2 - Lab time (min)', '1.3 - Lab time (min)',
       '1.4 - Lab time (min)', 'Fake_First name', 'Fake_Student ID']]

topic1_scores = topic1_scores[['Due date', 'Percent grade', 'Points earned (out of 49)',
       'Participation total (43)', 'Challenge total (6)', 'Lab total (0)',
       '1.1 - Participation (9)', '1.2 - Participation (9)',
       '1.3 - Participation (9)', '1.4 - Participation (16)',
       '1.3 - Challenge (6)', 'Fake_First name', 'Fake_Student ID']]

In [14]:
topic1_all['1.2 - Participation (9)'].nunique()

4

References:
|
1. Data Anonymization/Hashing - https://pypi.org/project/anonymizedf/,
 https://stackoverflow.com/questions/28674157/convert-unique-numbers-to-md5-hash-using-pandas